body{
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
    background-color: #8B0000;
    height: 100%;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

#linea{
    border: #555555 4px solid;
    width: 100%;
}

.contenedor{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.logo{
    float: left;
    width: 100px;
    height: 110px;
}

.titulo{
    float: left;
    margin-top: 10px;
    color: #FFD700;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    background-color: #0a0a0a;
    padding-top: 30px;
    min-height: 70px;
    text-transform: uppercase;
    background-image: url(../imgsyp/topography/topography.svg);
}

header a{
    color: #E23642;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header nav{
    float: right;
    margin-top: 10px;
}

header a:hover{
    color: rgb(204, 40, 40);
    font-weight: bold;
    border-bottom: 2px solid rgb(204, 40, 40);
    transition: 0.1s;
    
}

#combot{
    background-color: #1A1A1A;
    color: #F0F0F0;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.accordion-item{
    color: #090b2b;
}

.accordion-body{
    background-color: #555555;
}

/*MENÚ DE PRODUCTOS*/
#opccom{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#opccom.btn-group{
    display: flex;
    gap: 15px; 
}

#opccom .btn-secondary {
  background-color: #05013a;
  color: white;
  border: none;
}

#opccom .btn-secondary:hover {
  background-color: #E23642; 
  color: white;
}

#opccom .btn-secondary:focus{
  background-color: #E23642 !important;
}

/*CARDS DE LOS PRODUCTOS*/
#prodsm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-body{
    background-color: #FF8C00;
    text-align: center;
}

.card{
    border-color: #0F4D92;
}


footer{
    align-items: center;
    background-color: #0a0a0a;
    padding-top: 30px;
    height: 120px;
    background-image: url(../imgsyp/topography/topography.svg);
}

.letfoot{
    color: #FFD700;
    text-align: center;
}

.fa-brands{
    padding: 10px;
    border: 10px;
    float: right;
    height: 50px;
}

.fa-brands:hover{
    color: #E23642;
}

/*DISEÑO RESPONSIVO*/
/*PARA TABLET*/
@media (max-width: 1000px) {
    #opccom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
}

/*PARA CELULAR*/
@media (max-width: 600px) {
    .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    #prodsm{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}